<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ผลการฝึกอบรม</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    {% include 'navbar.html' %}
    <div class="container mx-auto mt-8 p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-4 text-center text-blue-600">
            ผลการฝึกอบรม
        </h1>
        <p class="mb-2"><span class="font-medium">Tags:</span> {{ tag }}</p>
        <p class="mb-2"><span class="font-medium">คำอธิบาย:</span> {{ description }}</p>
        <p class="mb-2"><span class="font-medium">Dataset ที่เลือก:</span> {{ dataset }}</p>
        <p class="mb-0"><span class="font-medium">ความแม่นยำ:</span> {{ accuracy }}%</p>
    </div>
    {% include 'footer.html' %}
</body>

</html>